<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="connection1" connectionString="Custom connection string" providerName="custom provider"/>
  </connectionStrings>

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Key1" value="Custom Value"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <elmah xdt:Transform="Replace">
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah"/>
    <security allowRemoteAccess="true" />
  </elmah>
</configuration>